@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
	font-family: -apple-system, BlinkMacSystemFont, 'SF UI Text', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
  padding-top: 70px;
}

h1, h2, h3 {
	font-family: -apple-system, BlinkMacSystemFont, 'SF UI Display', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
}

.topic-btn {
    color: white;
}

.topic-btn:hover {
    color: white;
    text-decoration: none;
}

.topic-btn:active {
    color: white;
    text-decoration: none;
}

.detailBox {
    border: 1px solid #bbb;
    margin: 50px;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

.titleBox label {
    color: #444;
    margin: 0;
    display: inline-block;
}


/* Comments */

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px 0;
}

.commentList {
    padding: 0;
    list-style: none;
}

.commentList li {
    margin: 0;
    margin-top: 10px;
}

.commentList li>div {
    display: table-cell;
}

.commenterImage {
    width: 23px;
    margin-right: 5px;
    height: 23px;
    float: left;
}

.commenterImage img {
    width: 100%;
    border-radius: 50%;
}

.commentText p, .commentText small {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-size: 11px;
}

.center-cropped {
    object-fit: cover;
    object-position: center;
    /* Center the image within the element */
    border-radius: 500px;
    border: 0.5px solid lightgray;
}

.inputfill {
		text-align: center;
    border: none;
}

.inputfill:focus {
    outline: none;
    border-bottom: 1px solid cornflowerblue;
}
