@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
	font-family: -apple-system, BlinkMacSystemFont, 'SF UI Text', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
}

h1, h2, h3 {
	font-family: -apple-system, BlinkMacSystemFont, 'SF UI Display', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'SF UI Display', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
}

body {
  background: linear-gradient(53deg, #5947FF, #006ba6, #4484ce, #0496ff, #41ead4);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 90%
  }
  50% {
    background-position: 100% 11%
  }
  100% {
    background-position: 0% 90%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 90%
  }
  50% {
    background-position: 100% 11%
  }
  100% {
    background-position: 0% 90%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 90%
  }
  50% {
    background-position: 100% 11%
  }
  100% {
    background-position: 0% 90%
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

.top-bar, .top-bar ul {
  background: none;
}

.top-bar ul li a {
  color: white;
}


/* Login styles */

.login-box {
  background: white;
  padding: 40px 30px;
  text-align: center;
  border-radius: 4px;
  /*opacity: 0.5;*/
}

.large-12 input {
  border-radius: 4px;
}

.large-12 [type=submit] {
  background: #4484ce;
}

.large-12 [type=submit]:hover {
  border: 1px solid #f7882f;
}

.error-signup {
  color: red;
}

.inputfill {
  background: none;
  border: 1px solid #4484ce;
  box-shadow: none;
}

.inputfill:hover {
  border: 1px solid #006ba6;
}

.inputfill:focus {
  border: 1px solid #f7882f;
}


/* Landing page */

.landing-btn {
  background: #f7882f;
  padding: 10px 50px;
  border-radius: 4px;
}

.landing-btn:hover {
  background: #f7882f;
}

.landing-btn:visited {
  background: #f7882f;
}

.headerer {
  color: white;
  font-size: 4em;
  font-weight: 800;
}

.other-links {
  background: none;
}
