{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Listr</title>
    <link rel="icon" href="{% static 'questions/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'questions/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'questions/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'questions/css/app.css' %}">
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% block nav %}
        {% include "navbar.html" %}
    {% endblock %}
    <div class="container-fluid">
      <div class="col-md-6 col-md-offset-1">
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-4">
        {% block rightbar %}{% endblock %}
      </div
    </div>
    <!-- SCRIPTS -->
    <script src="{% static 'questions/js/jquery.js' %}"></script>
    <script src="{% static 'questions/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'questions/js/app.js' %}"></script>
  </body>
</html>
