{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{question}} - Listr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'questions/favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'questions/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'questions/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'questions/css/custom.css' %}">
</head>

<body style="padding-top:60px; padding-bottom:40px">
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="{% static 'questions/assets/logo-small.png' %}" alt="Listr"></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white"> {{user}}    <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <!-- SIDEBAR -->
      <div class="col-sm-1 sidenav">
        <ul id="sidebar" class="nav nav-pills nav-stacked affix">
          <li><a href="/topics">Topics</a></li>
          <li class="active"><a href="/questions">Questions</a></li>
          <!-- <li><a href="#">Users</a></li> -->
        </ul>
      </div>
      <!-- FEED -->
      <div class="col-sm-7">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h3>{{question}}</h3>
              <h5><i>{{question.details}}</i></h5>
              <small>
                Asked {{question_date}} by {{question.questioner.first_name}} {{question.questioner.first_name}} @{{question.questioner}} in <span class="label label-primary" style="font-size: 12px"><a href="/topics/{{question.topic.id}}" class="topic-btn"> {{question.topic}} </a></span>
              </small>
            </div>
          </div>
        </div>
        <!-- to make the feed beautiful -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              {% if answers|length > 0%}
                <br>
                {% if answers|length > 1%}
                  <h4><small>{{answers|length}} ANSWERS</small></h4>
                {% else %}
                  <h4><small>{{answers|length}} ANSWER</small></h4>
                {% endif %}
                <hr>
                {% for answer, date_answered in answers %}
                <div class="thumbnail">
                  <div class="caption">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-lg-12">
                          <h5>According to @{{answer.respondent.username}}:</h5>
                          <p><a href="/answer/{{question.id}}">{{answer.answer}}</a></p>
                          <small style="color: darkgray">Answered {{date_answered}}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              {% else %}
                <br>
                <p>No one answered the question.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- QUESTION BAR -->
      <div class="col-sm-4">
        <h4><small>ANSWER THIS QUESTION</small></h4>
        <hr>
        <div class="thumbnail">
          <div class="caption">
            <form class="" action="{% url 'addanswer' question_id=question.pk%}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" rows="1" name="answer" placeholder="Answer"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-block">POST ANSWER</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{% static 'questions/js/script.js' %}"></script>
</body>

</html>
