{% load static %}
<br><br>
<h5 style="font-weight:bold">No Comments</h5>
<hr>

<div class="thumbnail">
  <div class="caption">
    <form class="" action="{% url 'addcomment' answer_id=answer.pk%}" method="POST">
    {% csrf_token %}
      <div class="form-group">
        <div style="text-align:right">
          <small id="feedback" style="display:none"></small>
        </div>
        <textarea id="commentarea" class="form-control" rows="3" name="comment" maxlength="500" placeholder="Add Comment..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Post</button>
    </form>
  </div>
</div>

<div class="actionBox">
  <ul class="commentList">
    {% for comment, comment_date in comments %}
    <li>
      <div class="commenterImage">
        <img class="center-cropped" src="{% static 'questions/assets/default-user-avatar.png' %}" width="30px" height="30px">
      </div>
      <div class="commentText">
        <p style="font-weight:bold"> {{comment.commenter}} </p>
        <small class="more"> {{comment.comment}} </small><br>
        <span class="date sub-text"> {{comment_date}} </span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
