{% load static %}
<br><br>
{% if lencomments > 1 %}
  <h5 style="font-weight:bold">{{lencomments}} Comments</h5>
{% elif lencomments == 1 %}
  <h5 style="font-weight:bold">1 Comment</h5>
{% else %}
  <h5 style="font-weight:bold">No Comments</h5>
{% endif %}
<hr>

<div class="thumbnail">
  <div class="caption">
    <form class="" action="{% url 'addcomment' answer_id=answer.pk%}" method="POST">
    {% csrf_token %}
      <div class="form-group">
        <div style="text-align:right">
          <small id="feedback" style="display:none"></small>
        </div>
        <textarea id="commentarea" class="form-control" rows="3" name="comment" maxlength="500" placeholder="Add Comment..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Post</button>
    </form>
  </div>
</div>

<div class="actionBox">
  <ul class="commentList">
    {% for comment, comment_date in comments %}
    <li>
      <div class="commenterImage">
{% if user.profile.avatar %}
    <img class="center-cropped" src="{{ comment.commenter.profile.avatar.url }}" width="96px" height="96px" style="border:none;">
  {% else %}
    <img class="center-cropped" src="{% static 'questions/assets/default-user-avatar.png' %}" width="96px" height="96px" style="border:none;">
  {% endif %}
      </div>
      <div class="commentText">
        <p style="font-weight:bold"> 
         <h5 style="font-weight:bold; margin-top:0px; margin-bottom:5px;">
              <a href="{% url 'profile' comment.commenter.id %}">{{comment.commenter.first_name}} {{ comment.commenter.last_name}} </a> <br><small>@{{comment.commenter}}</small></h5>
            <h6 style="margin-bottom:0px; margin-top:5px;">{{comment.commenter.profile.position}} at {{comment.commenter.profile.institution}}</h6>
            <h6 style="margin-bottom:0px; margin-top:5px; font-style: italic;">{{comment.commenter.profile.description}}</h6>
        </p>
        <small class="more" style="word-wrap: normal;"> {{comment.comment}} </small><br>

        <!-- <button type="button" class="btn btn-xs btn-link" style="text-decoration:none;">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <span style="font-weight:bold">0</span>
        </button> -->


        <form action="{% url 'likecomment' comment.id %}?next={{ request.path }}" method="POST" style="display:inline-block;">
        {% csrf_token %}
            <button type="submit" class="btn btn-xs btn-link" style="text-decoration:none;">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <span style="font-weight:bold">{{comment.likes}}</span>
            </button>
        </form>

        <span class="date sub-text"> {{comment_date}} </span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
