<br><br>
<h5 style="font-weight:bold">No Comments</h5>
<hr>

<div class="thumbnail">
  <div class="caption">
    <form class="" action="index.html" method="post">
      <div class="form-group">
        <textarea id="commentarea" class="form-control" rows="3" maxlength="1000" placeholder="Add Comment..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
      <small id="feedback"></small>
    </form>
  </div>
</div>

<div class="actionBox">
  <ul class="commentList">
    <li>
      <div class="commenterImage">
        <img src="http://placekitten.com/50/50" />
      </div>
      <div class="commentText">
        <p class="">Hello this is a test comment. Hello this is a test comment.</p> <span class="date sub-text">Date</span>
      </div>
    </li>
  </ul>
</div>
