{% extends "base.html" %}
{% load static %}
{% block title %}{{question}}{% endblock %}

{% block content %}
<small class="label label-default" style="font-size: 12px; border-radius: 50px;"><a href="/topics/{{question.topic.id}}" class="topic-btn">{{question.topic}}</a></small>
<h3 style="font-weight:bold; margin-top:10px;">{{question}}</h3>
<p class="more">{{question.details}}</p>
<small>
  Asked {{question_date}} by <a href="">{{question.questioner.first_name}} {{question.questioner.last_name}}</a>
</small>

<div style="padding-top: 5px;">
        <form action="{% url 'question_upvote' question_id=question.pk%}?next={{ request.path }}" method="POST" style="display:inline-block;">
        {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-arrow-up"></span>
              <span style="font-weight:bold">{{question.upvotes}}</span>
            </button>
        </form>

        <form class="" action="{% url 'question_downvote' question_id=question.pk%}?next={{ request.path }}" method="POST" style="display:inline-block;">
        {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-xs">
              <span class="glyphicon glyphicon-arrow-down"></span>
              <span style="font-weight:bold">{{question.downvotes}}</span>
            </button><br>
        </form>
</div>

{% if answers|length > 0%}
  <br>
  {% if answers|length > 1%}
    <h3><small>{{answers|length}} Answers</small></h3>
  {% else %}
    <h3><small>{{answers|length}} Answer</small></h3>
  {% endif %}
  <hr>
  {% for answer, date_answered in answers %}
  <div class="panel panel-default">

    <div class="panel-heading" style="padding-bottom:10px">
      <div class="row">
        <div class="col-xs-1">
          <img class="center-cropped" src="{% static 'questions/assets/default-user-avatar.png' %}" height="30px" width="30px">
        </div>
        <div class="col-xs-11" style="padding-left: 5px;">
          <h5 style="font-weight:bold; margin-top:0px; margin-bottom:5px;">
            <a href="{% url 'profile' answer.respondent.id %}"> 
              {{ answer.respondent.first_name }} {{ answer.respondent.last_name }}  
            </a>
            <small>@{{answer.respondent.username}}</small>
          </h5>
          <h6 style="margin-bottom:0px; margin-top:5px;">Info</h6>
        </div>
      </div>
    </div>

    <div class="panel-body" style="padding-top:0; padding-bottom:5px">
      <p style="margin: 5px auto; word-wrap: break-word;">{{answer.description}}</p>
      {% if answer.answers|length > 1 %}
        <small><a href="{% url 'answer_detail' answer_id=answer.id %}">Show {{answer.answers|length}} Items</a></small>
      {% elif answer.answers|length == 1 %}
        <small><a href="{% url 'answer_detail' answer_id=answer.id %}">Show {{answer.answers|length}} Items</a></small>
      {% else %}
        <small><a href="{% url 'answer_detail' answer_id=answer.id %}">Show Answer</a></small>
      {% endif %}
    </div>

    <div class="panel-footer" style="padding-top:10px; padding-bottom:10px;">
      <div>
        <!-- upvote  -->
        <form action="{% url 'answer_upvote' answer_id=answer.pk%}?next={{ request.path }}" method="POST" style="display:inline-block;">
        {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-arrow-up"></span>
              <span style="font-weight:bold">{{answer.upvotes}}</span>
            </button>
        </form>
        <!-- downvote -->
        <form action="{% url 'answer_downvote' answer_id=answer.pk%}?next={{ request.path }}" method="POST" style="display:inline-block;">
        {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-xs">
              <span class="glyphicon glyphicon-arrow-down"></span>
              <span style="font-weight:bold">{{answer.downvotes}}</span>
            </button><br>
        </form>
      </div>
      <small style="color:darkgray">
        <span class="glyphicon glyphicon-comment"></span>
        <span style="color:darkgray">0</span>
      </small>
      <small> - </small>
      <small style="color:darkgray">{{date_answered}}</small>
    </div>

  </div>
  {% endfor %}
{% else %}
  <h3 style="font-weight:bold">Nobody answered the question. 😞</h3>
{% endif %}

{% endblock %}

{% block rightbar %}
  {% include "rightbar/answer.html" %}
{% endblock%}
