{% extends "base.html" %}
{% load static %}

{% block title %}Questions{% endblock %}

{% block content %}
  {% if questions|length > 0 %}
    <h4><small>RECENT QUESTIONS</small></h4>
    <hr>
    {% for question, date in questions %}
    <div class="panel panel-default">
      <!--heading-->
      <div class="panel-heading" style="padding-bottom:5px; padding-top:5px;">
        <h5 style="padding-top: 5px; padding-bottom: 5px; margin: 0"><span class="label label-default" style="border-radius:50px;"><a href="/topics/{{question.topic.id}}" class="topic-btn"> {{question.topic}} </a></span>&nbsp;&nbsp;<small style="color:darkgray">{{date}}</small></h5>
      </div>

      <div class="panel-body" style="padding-top:0;padding-bottom:0;">
        <h3 style="margin-top:10px; font-weight:bold; word-wrap: break-word;"><a href="/questions/{{question.id}}">{{question.question}}</a></h3>
        <div class="row">
          <div class="col-xs-1">
            <img class="center-cropped" src="{% static 'questions/assets/default-user-avatar.png' %}" height="30px" width="30px">
          </div>
          <div class="col-xs-11" style="padding-left: 5px;">
            <h5 style="font-weight:bold; margin-top:0px; margin-bottom:5px;">
              <a href="{% url 'profile' question.questioner.id %}">{{question.questioner.first_name}} {{ question.questioner.last_name}} </a> <small>@{{question.questioner}}</small></h5>
            <h6 style="margin-bottom:0px; margin-top:5px;">Info</h6>
            {% if question.image %}
            <br>
            <img src="{{question.image.url}}" width="100%" style="border-radius:4px; border: 1px solid darkgray">
            {% endif %}
          </div>
        </div>
        {% if question.ans_count == 1 %}
          <h6> {{question.ans_count}} answer</h6>
        {% elif question.ans_count > 1 %}
          <h6> {{question.ans_count}} answers</h6>
        {% else %}
          <h6> No answers</h6>
        {% endif %}
      </div>

      <div class="panel-footer" style="padding-top:10px; padding-bottom:10px;">
        <!-- upvote -->
        <!-- <button type="button" class="btn btn-primary btn-xs">
          <span class="glyphicon glyphicon-arrow-up"></span>
          <span style="font-weight:bold"></span>
        </button> -->
        <form action="{% url 'question_upvote' question_id=question.pk%}?next={{ request.path }}" method="POST" style="display:inline-block;">
        {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-arrow-up"></span>
              <span style="font-weight:bold">{{question.upvotes}}</span>
            </button>
        </form>
        <!-- downvote -->
<!--         <button type="button" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-arrow-down"></span>
          <span style="font-weight:bold"></span>
        </button><br> -->
        <form class="" action="{% url 'question_downvote' question_id=question.pk%}?next={{ request.path }}" method="POST" style="display:inline-block;">
        {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-xs">
              <span class="glyphicon glyphicon-arrow-down"></span>
              <span style="font-weight:bold">{{question.downvotes}}</span>
            </button><br>
        </form>
      </div>

      </div>
    {% endfor %}
  {% else %}
    <h3 style="font-weight:bold">Nobody posted questions. 😞</h3>
  {% endif %}
{% endblock %}

{% block rightbar %}
  {% include "rightbar/question.html" %}
{% endblock %}
