{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="icon" href="{% static 'questions/favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'questions/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'questions/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'questions/css/custom.css' %}">
</head>

<body style="padding-top:60px; padding-bottom:40px">

  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="{% static 'questions/assets/logo-small.png' %}" alt="Listr"></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white"> {{user}}    <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <!-- SIDEBAR -->
      <div class="col-sm-1 sidenav">
        <ul id="sidebar" class="nav nav-pills nav-stacked affix">
          <li class="active"><a href="#">Questions</a></li>
          <li><a href="/topics">Topics</a></li>
          <!-- <li><a href="#">Users</a></li> -->
        </ul>
      </div>
      <!-- FEED -->
      <div class="col-sm-7">
        <!-- to make the feed beautiful -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h4><small>RECENT QUESTIONS</small></h4>
              <hr> {% for question, date in questions %}
              <div class="thumbnail">
                <div class="caption">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-12">
                        <p> {{question.questioner.first_name}} {{ question.questioner.last_name}} @{{question.questioner}} asks:</p>
                        <h3><a href="/questions/{{question.id}}">{{question.question}}</a></h3>
                        <h4><i>{{question.details}}</i></h4>
                        <h5><span class="label label-primary"><a href="/topics/{{question.topic.id}}" class="topic-btn"> {{question.topic}} </a></span></h5>
                        <small> {{question.ans_count}} Answers - <span style="color:darkgray">{{date}}</span></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- QUESITON BAR -->
      <div class="col-sm-4">
        <h4><small>ASK A QUESTION</small></h4>
        <hr>
        <div class="thumbnail">
          <div class="caption">
            <form class="" action="index.html" method="post">
              <div class="form-group">
                <textarea class="form-control" rows="1" placeholder="Question"></textarea>
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="1" placeholder="Description"></textarea>
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="1" placeholder="Topic"></textarea>
              </div>
              <button type="button" class="btn btn-primary btn-block">POST QUESTION</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="{% static 'questions/js/bootstrap.js' %}"></script>
  <script src="{% static 'questions/js/script.js' %}"></script>
</body>

</html>
