{% extends "base.html" %}
{% load static %}
{% block title %}{{question}}{% endblock %}

{% block content %}

<h3 style="font-weight:bold">{{question}}</h3>
<h5><i>{{question.details}}</i></h5>
<small>
  Asked {{question_date}} by {{question.questioner.first_name}} {{question.questioner.first_name}} @{{question.questioner}} in <span class="label label-primary" style="font-size: 12px"><a href="/topics/{{question.topic.id}}" class="topic-btn"> {{question.topic}} </a></span>
</small>


{% if answers|length > 0%}
  <br>
  {% if answers|length > 1%}
    <h4><small>{{answers|length}} ANSWERS</small></h4>
  {% else %}
    <h4><small>{{answers|length}} ANSWER</small></h4>
  {% endif %}
  <hr>
  {% for answer, date_answered in answers %}
  <div class="panel panel-default">
    <div class="panel-heading" style="padding-bottom:10px">
      <div class="row">
        <div class="col-xs-1">
          <img src="{% static 'questions/assets/default-user-avatar.png' %}" height="30px">
        </div>
        <div class="col-xs-11">
          <h5 style="font-weight:bold; margin-top:0px; margin-bottom:10px;">{{anwser.respondent.first_name}} {{ answer.respondent.last_name}}</h5>
          <h6 style="margin-top:5px; margin-bottom:0px;">@{{answer.respondent.username}}</h6>
        </div>
      </div>
    </div>
    <div class="panel-body" style="padding-top:0; padding-bottom:10px">
      <p style="margin-top:10px; font-weight:bold; word-wrap: break-word;">{{answer.description}}</p>
      {% if answer.answers|length > 1 %}
        <small><a href="{% url 'answer_detail' answer_id=answer.id %}">Show {{answer.answers|length}} Steps</a></small>
      {% elif answer.answers|length == 1 %}
        <small><a href="{% url 'answer_detail' answer_id=answer.id %}">Show {{answer.answers|length}} Step</a></small>
      {% else %}
        <small><a href="{% url 'answer_detail' answer_id=answer.id %}">Show Comments</a></small>
      {% endif %}
    </div>
    <div class="panel-footer" style="padding-top:10px; padding-bottom:10px;">
      <button type="button" class="btn btn-primary btn-xs">Upvote <span style="font-weight:bold">0</span></button>
      <button type="button" class="btn btn-danger btn-xs">Downvote</button><br>
      <small style="color: darkgray">Answered {{date_answered}}</small>
    </div>
  </div>
  {% endfor %}
{% else %}
  <br>
  <h5>No one answered the question.</h5>
{% endif %}

{% endblock %}

{% block rightbar %}
  {% include "rightbar/answer.html" %}
{% endblock%}
