{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="icon" href="{% static 'questions/favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'questions/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'questions/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'questions/css/custom.css' %}">
</head>

<body>
  <nav class="navbar navbar-default listr-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#"><img src="{% static 'questions/assets/logo-small.png' %}" alt="Listr"></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white"> {{user}}    <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h1>Questions</h1> {% for question in questions %}
  <a href="/questions/{{question.id}}">{{question.question}}</a>
  <p>from {{question.questioner}}</p>
  {% endfor %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="{% static 'questions/js/bootstrap.js' %}"></script>
  <script src="{% static 'questions/js/script.js' %}"></script>
</body>

</html>
