{% extends "base.html" %}

{% block title %}Topics{% endblock %}

{% block content %}
  <h4><small>TOPICS</small></h4>
  <hr> {% for topic in topics %}
  <div class="thumbnail">
    <div class="caption" style="text-align:center">
      <a href="/topics/{{topic.id}}">
        <h1 style="font-weight: bold;">{{topic.topic}}</h1>
      </a>
      <h5>{{topic.details}}</h5>
      {% if topic.question_count == 1 %}
        <small>{{topic.question_count}} Question</small>
      {% elif topic.question_count > 1 %}
        <small>{{topic.question_count}} Questions</small>
      {% else %}
        <small>No Questions</small>
      {% endif %}
    </div>
  </div>
  {% endfor %}
{% endblock %}

{% block rightbar %}
  {% include "rightbar/topics.html" %}
{% endblock %}
