{% extends 'profile.html' %}
{% load static %}

{% block top %}
<div class="col-lg-12" style="text-align:center; margin-bottom:10px;">
  {% if user.profile.avatar %}
    <img class="center-cropped" src="{{ user.profile.avatar.url }}" width="96px" height="96px" style="border:none;">
  {% else %}
    <img class="center-cropped" src="{% static 'questions/assets/default-user-avatar.png' %}" width="96px" height="96px" style="border:none;">
  {% endif %}
  <h1 style="font-size: 3em; font-weight: bold; margin-bottom:5px;">{{user.first_name}} {{user.last_name}}</h1>
  <h3 style="font-weight: 300; color:darkgray; margin-top:0">@{{user}}</h3>
  <p style="margin-top:0">{{user.profile.position}} at {{user.profile.institution}}</p>
  <h3 style="margin-top:0"><small>{{user.profile.description}}</small></h3>
</div>
{% endblock %}

{% block bottom %}
<div class="col-sm-1 col-md-3 col-lg-3"></div>
<div class="col-sm-10 col-md-6 col-lg-6">
  <ul class="nav nav-pills" style="display: flex; justify-content: center; margin-bottom: 20px;">
    <li class="active"><a data-toggle="pill" href="#questions">Questions</a></li>
    <li><a data-toggle="pill" href="#answers">Answers</a></li>
  </ul>

  <div class="tab-content">
    <div id="questions" class="tab-pane fade in active">
      {% if questions|length > 0 %}
        {% for question, date in questions %}
        <div class="panel panel-default">
          <div class="panel-heading" style="padding-bottom:5px; padding-top:5px;">
            <div class="row">
              <div class="col-lg-10">
                <h5 style="padding-top: 5px; padding-bottom: 5px; margin: 0"><span class="label label-default" style="border-radius:50px;"><a href="/topics/{{question.topic.id}}" class="topic-btn"> {{question.topic}} </a></span>&nbsp;&nbsp;<small style="color:darkgray">{{date}}</small></h5>
              </div>
              {% if question.questioner.id == request.user.id %}
                <div class="col-lg-2">
                  <div class="text-right">
                    <form action = "{% url 'delete_question' question.id%}" method="POST">
                      {% csrf_token %}
                        <button type="submit" class="btn btn-xs btn-danger">
                    </form>
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="panel-body" style="padding-top:0;padding-bottom:0;">
            <h3 style="margin-top:10px; font-weight:bold; word-wrap: break-word;"><a href="/questions/{{question.id}}">{{question.question}}</a></h3>
            {% if question.image %}
            <img src="{{question.image.url}}" width="100%" style="border-radius:4px; border: 1px solid silver">
            {% endif %}
            {% if question.ans_count == 1 %}
              <h6> {{question.ans_count}} answer</h6>
            {% elif question.ans_count > 1 %}
              <h6> {{question.ans_count}} answers</h6>
            {% else %}
              <h6> No answers</h6>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      {% else %}
        <h3 style="font-weight:bold; text-align:center;">No questions.</h3>
      {% endif %}
    </div>
    <div id="answers" class="tab-pane fade">
      {% if answers|length > 0%}
        {% for answer, date_answered in answers %}
        <div class="panel panel-default">
          <div class="panel-heading" style="padding-bottom:10px">
              <div class="row">
                <div class="col-lg-10">
                  <small>From <b><a href="/questions/{{answer.question.id}}">{{answer.question}}</a></b></small>
                </div>
                <div class="col-lg-2">
                  <div class="text-right">
                    <form action = "{% url 'delete_answer' answer.id%}" method="POST">
                      {% csrf_token %}
                        <button type="submit" class="btn btn-xs btn-danger">
                          <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                  </div>
                </div>
              </div>
          </div>

          <div class="panel-body" style="padding-top:0; padding-bottom:5px">
            <p style="margin: 5px auto; word-wrap: break-word;">{{answer.description}}</p>
            {% if answer.answers|length > 1 %}
              <small><a href="{% url 'answer_detail' answer_id=answer.id %}">Show {{answer.answers|length}} Items</a></small>
            {% elif answer.answers|length == 1 %}
              <small><a href="{% url 'answer_detail' answer_id=answer.id %}">Show {{answer.answers|length}} Items</a></small>
            {% else %}
              <small><a href="{% url 'answer_detail' answer_id=answer.id %}">Show Answer</a></small>
            {% endif %}
          </div>

          <div class="panel-footer" style="padding-top:10px; padding-bottom:10px;">
            <small style="color:darkgray">
              <span class="glyphicon glyphicon-comment"></span>
              <span style="color:darkgray">{{answer.comment_count}}</span>
            </small>
            <small> - </small>
            <small style="color:darkgray">{{date_answered}}</small>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <h3 style="font-weight:bold; text-align:center;">No answers.</h3>
      {% endif %}
    </div>
  </div>
</div>
<div class="col-sm-1 col-md-3 col-lg-3"></div>
{% endblock %}
