<h4><small>ANSWER THIS QUESTION</small></h4>
<hr>
<div class="thumbnail">
  <div class="caption">
    <form class="" action="{% url 'addanswer' question_id=question.pk%}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <textarea class="form-control" rows="3" name="description" placeholder="Description" required></textarea>
      </div>
      <!-- DONT MIND THIS -->
      <p><small id="step-indicator">ANSWER</small></p>
      <div class="form-group">
        <ul style="list-style-type: none; padding: 0;" class="step-list">
          <li><textarea class="form-control" name="0" rows="5" id="textarea" placeholder="Step or Item" required></textarea></li>
          <!-- <small style="color:red">hey</small> -->
        </ul>
        <button type="button" class="btn btn-default btn-block add-step" onclick="addstep()">Add Item</button>
      </div>
      <button type="submit" class="btn btn-primary btn-block">POST ANSWER</button>
    </form>
  </div>
</div>
