<h4><small>ASK A QUESTION</small></h4>
<hr>
<div class="thumbnail">
  <div class="caption">
    <form class="" action="index.html" method="post">
      <div class="form-group">
        <textarea class="form-control" rows="2" placeholder="Question"></textarea>
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="5" placeholder="Description (Optional)"></textarea>
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="1" placeholder="Topic"></textarea>
      </div>
      <button type="button" class="btn btn-primary btn-block">POST QUESTION</button>
    </form>
  </div>
</div>
